.footer_top {
    background: #222224;
}

.footer_top__info {
    display: flex;
    justify-content: space-around;
    padding-top: 104px;
    padding-bottom: 104px;
}

.footer_top__content {
    width: 360px;
    text-align: center;
}

.footer_top__h3 {
    @extend .font;
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 19px;
    margin-bottom: 16px;
}

.footer_top__text {
    @extend .font;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.foter_contact {
    background-image: url("..//img/footer.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
}

.footer_contact_container {
    padding-top: 87px;
    padding-bottom: 127px;
    display: flex;
    align-items: center;
}

.footer_contact__content {
    width: 360px;
    text-align: center;
}

.footer_contact__img {
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}

.footer_contact__text {
    @extend .font;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.footer_contact__form {
    padding-left: 327px;
    text-align: center;
}

.form_h3 {
    @extend .font;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #222224;
    text-transform: uppercase;
}

.text_form {
    @extend .font;
    font-size: 18px;
    line-height: 30px;
    color: #222224;
    text-transform: uppercase;
    margin-bottom: 32px;
}


.form_input {
    background: #E1E1E1;
    border: 1px solid transparent;
    outline: none;
    width: 256px;
    height: 49px;
    border-radius: 50px 0 0 50px;
    @extend .font;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    padding: 22px;
}

.form_button {
    margin: auto 0;
    background-color: #F16D7F;
    color: #FFFFFF;
    width: 100px;
    height: 49px;
    text-align: center;
    line-height: 40px;
    border-radius: 0 50px 50px 0;
    border: 1px solid transparent;
    margin-left: -4px;
}

.form_button:hover {
    background-color: #FFFFFF;
    color: #F16D7F;
    border: 1px solid #FF6A6A;
}

/* Стилизация футера социальные сети */
/* --------------------------- */

.footer_botton {
    background: #222224;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
}

.footer-social p {
    @extend .font;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer-social-list {
    list-style: none;
    display: flex;
    margin-top: 0;
}

.footer-social-item {
    display: flex;
    width: 32px;
    height: 32px;
    margin-left: 7px;
}

.social-button {
    flex-grow: 1;
    display: flex;
    background-color: #FFFFFF;
}

.social-button img {
    margin: auto;
}


.social-button:hover,
.social-button:focus {
    background-color: #F16D7F;
}