header {
    height: 100%;
}

.header_nav {
    background-color: #222222;
}

.header_nav__list {
    display: flex;
    justify-content: space-between;
}

.header_list {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.header_list__link {
    padding: 16px;
    text-decoration: none;
    position: relative;
}

.header_list__link span {
    display: inline-block;
    width: 19px;
    height: 19px;
    background: #f16d7f;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    right: 5px;
    top: 10px;
    @extend .font;
    @include txt(400, 19px, 12px, #FFFFFF, none);
}

.basket {
    position: absolute;
    z-index: 3;
    right: 17px;
    top: 50px;
    background: white;
    padding: 10px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    font-size: 14px;
    display: none;
}

.menu_list:hover .basket {
    display: block;
}

@media (min-width: 340px) {
    .basket {
        font-size: 16px;
    }
}

@media (min-width: 552px) {
    .basket {
        width: 500px;
    }
}

.basketRow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
}

.basketHeader {
    font-weight: bold;
}

.basketTotal {
    font-weight: bold;
    text-align: right;
}

.menu_list {
    display: flex;
    position: relative;
    list-style: none;
}

.mega_box {
    background-color: #FFFFFF;
    padding: 37px 34px;
    position: absolute;
    top: 60px;
    display: none;
}

.mega_box::before {
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    background-color: #FFFFFF;
    position: absolute;
    top: -4px;
    left: 27px;
    transform: rotate(45deg);
}

.mega_box_heading {
    @extend .font;
    @include txt(700, 17px, 14px, #000000, uppercase);
    margin-bottom: 24px;
}

.mega_item {
    margin-bottom: 20px;
}

.mega_heading {
    @extend .font;
    @include txt(700, 17px, 14px, #F16D7F, uppercase);
    margin-bottom: 12px;
    width: 144px;
}

.mega_link {
    display: block;
    @extend .font;
    @include txt(400, 17px, 14px, #6F6E6E, none);
    text-decoration: none;
    padding-bottom: 11px;
    padding-left: 23px;
}

.mega_link:last-of-type {
    padding-bottom: 0px;
}

.mega_link:hover {
    color: #F16D7F;
}

.menu_list:hover .mega_box {
    display: block;
}