.header_main {
    background-color: #F1E4E6;
}

.header_info {
    display: flex;
    justify-content: space-between;
}

.header_info_img {
    max-width: 25%;
}

.header_info_img_item {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.header_info__text {
    margin: auto 0;
    padding-right: 120px;
    padding-left: 16px;
    border-left: 1rem solid #F16D7F;
}


.header_h2 {
    @extend .font;
    @include txt(900, 58px, 48px, #222222, none);
    margin: 0;
}

.header_text {
    @extend .font;
    @include txt(700, 38px, 32px, #222222, none);
}

.header_text span {
    color: #F16D7F;
}

/* -----------------------------
----------Банер-------------- */
.project {
    margin-top: 65px;
}

.project_parent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.project_parent__item {
    width: 32%;
    min-height: 260px;
    background: rgb(33, 22, 22);
    text-align: center;
    background-position: center;
}

.project_parent__item:hover {
    background: none;
}

.project__item {
    display: block;
    height: 100%;
    text-decoration: none;
    opacity: 0.3;
    padding-top: 105px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // background-size: 100%;
}

.project__item:hover {
    opacity: 1;
}

.project__item1 {
    background-image: url("..//img/project-1.png");
}

.project__item2 {
    background-image: url("..//img/project-2.png");
}


.project__item3 {
    background-image: url("..//img/project-3.png");
}

.project__text_parent {
    @extend .font;
    @include txt(400, 19px, 16px, #FFFFFF, none);
}

.project__text {
    @extend .font;
    @include txt(400, 19px, 16px, #FFFFFF, none);
    text-align: center;
}

.project__text__span {
    @extend .font;
    @include txt(700, 29px, 24px, #F16D7F, none);
}

.project_parent_button {
    display: flex;
}

.project_parent_button__item {
    width: 100%;
    min-height: 180px;
    background: rgb(33, 22, 22);
    text-align: center;
}

.project_parent_button__item:hover {
    background: none;
}

.project__item4 {
    display: block;
    height: 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    opacity: 0.3;
    padding-top: 65px;
    background-image: url("..//img/project-4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // background-size: 100%;
}

.project__item4:hover {
    opacity: 1;
}


/* Стилизация карточек товаров */
/* --------------------------- */

.item_sec {
    margin-top: 96px;
    margin-bottom: 96px;
}

.item {
    width: 360px;
    position: relative;
}

.item_link {
    display: block;
    text-decoration: none;
}

.text_box {
    padding-top: 24px;
}

.item_pic {
    width: 100%;
    transition: all 1.5s;
}

.item:hover .item_pic {
    filter: brightness(30%);
    transform: scale(0.9);
}


.add {
    display: flex;
    padding: 8px;
    border: 1px solid #FFFFFF;
    align-items: center;
    text-decoration: none;
    pointer-events: all;
    padding-left: 13px;
    padding-right: 13px;
}

.add_desc {
    @extend .font;
    @include txt(400, 17px, 14px, #FFFFFF, none);
    margin: 0 auto;
    padding-left: 11px;
}

.add_box {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 188px;
    pointer-events: none;
    display: none;
}

.add:hover {
    box-shadow: 0px 0px 18px 2px #FFFFFF;
}

.item:hover .add_box {
    display: flex;
}


.heading__h3__wat-we-do {
    @extend .font;
    @include txt(700, 36px, 30px, #222222, none);
    text-align: center;
    margin-bottom: 6px;
}

.text_wat-we-do {
    @extend .font;
    @include txt(400, 17px, 14px, #9F9F9F, none);
    text-align: center;
}

.card-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 48px;
    padding-top: 48px;
}

.heading__mini {
    @extend .font;
    @include txt(400, 16px, 13px, #000000, uppercase);
    padding-left: 18px;
    padding-bottom: 13px;
    margin-top: 24px;
}

.text_card {
    @extend .font;
    @include txt(300, 17px, 14px, #5D5D5D, none);
    padding-left: 18px;
}

.price {
    @extend .font;
    @include txt(400, 19px, 16px, #F16D7F, none);
    padding-left: 18px;
    margin-top: 18px;
    margin-bottom: 20px;
}

.item_button {
    margin: 0 auto;
}

.button {
    @extend .font;
    @include txt(400, 19px, 16px, #F26376, none);
    margin: 0 auto;
    background-color: #FFFFFF;
    width: 211px;
    height: 47px;
    text-align: center;
    line-height: 47px;
    border: 1px solid #FF6A6A;
    transition: all 1.8s;
}

.button:hover {
    background: #F16D7F;
    border: 1px solid #FF6A6A;
    color: #FFFFFF;
    transform: scale(1.2);
}

.button_link {
    text-decoration: none;
}

@media (max-width: 768px) {
    .header_h2 {
        @include txt(900, 53px, 44px, #222222, none);
    }

    .header_text {
        @include txt(700, 29px, 24px, #222222, none);
    }

    .header_info_img {
        max-width: 40%;
    }

    .header_info__text {
        padding-right: 0;
    }

    .project {
        margin-top: 20px;
    }

    .project_parent {
        margin-bottom: 20px;
    }

    .project_parent__item {
        min-height: 168px;
    }

    .project_parent_button__item {
        min-height: 116px;
    }

    .project__item {
        padding-top: 59px;
    }

    .project__item4 {
        padding-top: 33px;
    }

    .item_sec {
        margin-top: 155px;
        margin-bottom: 65px;
    }
}

@media (max-width: 732px) {
    .card-box {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 551px) {

    .header_h2 {
        @include txt(900, 46px, 38px, #222222, none);
    }

    .header_text {
        @include txt(700, 24px, 20px, #222222, none);
    }
}

@media (max-width: 466px) {
    .header_info_img {
        max-width: 0%;
    }

    .header_info {
        justify-content: center;
        padding-top: 48px;
        padding-bottom: 48px;
    }
}

@media (max-width: 375px) {
    .project_parent {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .project_parent__item {
        width: 100%;
        min-height: 247px;
        margin-bottom: 32px;
    }

    .project_parent_button__item {
        min-height: 111px;
    }

    .project__item {
        height: 100%;
        padding-top: 99px;
        padding-bottom: 99px;
    }

    .project__item4 {
        padding-top: 30px;
    }

    .project {
        margin-top: 65px;
    }
}