.registration {
    margin-top: 64px;
    margin-bottom: 96px;
}

.registration_form {
    display: flex;
    flex-direction: column;
    border: none;
}

.registracion_form-text {    
    @extend .font;
    @include txt(300, 19px, 16px, #222222, none);
    margin-bottom: 20.5px;
}

.registration_form-input {
    width: 360px;
    border: 1px solid #A4A4A4;
    box-sizing: border-box;
    height: 45px;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 21px;
    outline: none;
}

.registration_form-input::placeholder {
    @extend .font;
    @include txt(300, 16px, 13px, #B1B1B1, none);
}

.registration-text{
    @extend .font;
    @include txt(300, 16px, 13px, #B1B1B1, none);
}

.registration_form-submit {
    margin-top: 39px;
    @extend .font;
    @include txt(400, 17px, 14px, #FFFFFF, uppercase);
    width: 167px;
    height: 50px;
    border: none;
    background-color: #F16D7F;
    background-image: url("..//img/arrowregistr.svg");
    background-position: right;
    background-position: 125px;
    background-repeat: no-repeat;
    padding-right: 20px;
    transition: all 1.8s;
}

.registration_form-submit:hover {
    border: 1px solid #FF6A6A;
    color: #222222;
    background-color: #FFFFFF;
}

.registration_form_radio{
    display: flex;
    border: none;
    margin-top: 10.5px;
    margin-bottom: 33px;
}

.form_radio{
    margin-right: 15px;
    padding: 50px;
    transform: scale(1.5);
}

.form_radio_next{
    margin-left: 25px;
}