* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content__main {
    flex-grow: 1;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
}

// ------------Общие шрифты для @extend
.font {
    font-family: 'Lora', serif;
    font-style: normal;
}

@mixin txt ($fw, $lh, $fs, $fc, $tt) {
    font-weight: $fw;
    line-height: $lh;
    font-size: $fs;
    color: $fc;
    text-transform: $tt;
}

// --------Подключение header-------------
@import "header";

// --------Подключение Главной страницы-------------
@import "index";

// --------Подключение product-------------
@import "product";

// --------Подключение catalog-------------
@import "catalog";

// --------Подключение cart-------------
@import "cart";


// --------Подключение footer-------------
@import "registration";

// --------Подключение footer-------------
@import "footer";